@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

h1{
    color: black;
}
/*geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    color:#323232;
    border: none;    
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 70px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

body {
    background-color: white;

}
textarea:focus, input: :focus {
    outline:none;

}

a{ 
  font-size: .8rem;
}

a:hover {
    color: #085588;
}

/* container login */

#login-container {
    background-color: rgb(227, 230, 243);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;

}

/* formulário */
form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}
label {
    font-weight: bold;
    font-size: .8rem;

}
input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #085588;

}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #085588;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1B223C;
    transition: .5s;
}


