@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 30px;
    color: #222;
}

h2{
    font-size: 20px;
    line-height: 10px;
    color: #222;
}

h3{
    font-size: 15px;
    line-height: 0px;
    color: #222;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 20px;
    }

    input[type="textarea"],
	  select {
      width: 100%;
      padding: 50px;
      margin: 0px 0;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
    }
	
	input[type="text"],
    input[type="number"],
    select {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
    }

    input[type="date"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
    }

    button {
      background-color: #4CAF50;
      color: white;
      padding: 15px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    background: #e3e6f3;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header a img{
    transform: scale(0.87);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #363434;
    transition:  0.03s ease;
    position: relative
}

#navbar li a:hover,
#navbar li a.active{
    color: #0ca89e;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #0ca89e;
    position: absolute;
    bottom: -4px;
    left: 0px;
}


